<!-- 탈모 -->

{% include 'header.html' %}
{% load static %}

<body>
    <link href="{% static '/product/css/product.css' %}" rel="stylesheet" />
    <script src="{% static '/product/js/product.js' %}"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

    <section>
        <div id="container"></div>
    </section>
    <!-- Page content-->
    <div class="container">
        <div class="text-center mt-5">
            <h1>당신의 두피 유형은 "탈모"로 추측됩니다.</h1>
            <section class="py-5 mt-1">
                <div class="container">
                        <div class="col-4 mx-auto mt-1">
                            <button id="incenseBtn" type="button" class="btn btn-primary btn-lg" data-toggle="button" aria-pressed="false"><i class="bi bi-flower3"></i>&nbsp 향</button>
                            <button id="bubbleBtn" type="button" class="btn btn-warning btn-lg btn-block"><i class="bi bi-droplet"></i>&nbsp 거품</button>
                            <button id="troubleBtn" type="button" class="btn btn-success btn-lg btn-block"><i class="bi bi-emoji-dizzy"></i>&nbsp 트러블</button>
                            <button id="cleanBtn" type="button" class="btn btn-info btn-lg btn-block"><i class="bi bi-stars"></i>&nbsp 세정력</button>
                        </div>
                </div>
            </section>
    <!-- Portfolio Section-->
    <section class="page-section portfolio pt-5" id="portfolio">
        <div class="container">
            <!-- Portfolio Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">product</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Portfolio Grid Items-->
            <div class="row justify-content-center" id="imgShow">
                <!-- Portfolio Item 1-->
                <div class="col-md-6 col-lg-4 mb-5" id="shampoo1">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img id="shampoo1_img" class="img-fluid" src="https://dn5hzapyfrpio.cloudfront.net/product/c99/c99e66f0-7d71-11eb-bcb2-8dd095f00e51.jpeg?w=456" alt="..." />
                    </div>
                    <div class="portfolio-caption">
                        <div id="shampoo1_name" class="portfolio-caption-heading">블루밍 카밍 샴푸</div>
                        <div id="shampoo1_brand" class="portfolio-caption-subheading text-muted">베네자임</div>
                    </div>
                </div>
                <!-- Portfolio Item 2-->
                <div class="col-md-6 col-lg-4 mb-5" id="shampoo2">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img id="shampoo2_img" class="img-fluid" src="https://dn5hzapyfrpio.cloudfront.net/product/64f/64fc4e70-7c87-11ee-b66e-1d63f0e1913d.png?w=456" alt="..." />
                    </div>
                    <div class="portfolio-caption">
                        <div id="shampoo2_name" class="portfolio-caption-heading">쿨 멘솔 샴푸</div>
                        <div id="shampoo2_brand" class="portfolio-caption-subheading text-muted">헤드앤숄더</div>
                    </div>
                </div>
                <!-- Portfolio Item 3-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal3">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img id="shampoo3_img" class="img-fluid" src="https://dn5hzapyfrpio.cloudfront.net/product/432/432a4e00-4557-11ec-9d45-77781639a972.jpeg?w=456" alt="..." />
                    </div>
                    <div class="portfolio-caption">
                        <div id="shampoo3_name" class="portfolio-caption-heading">썬트리 샴푸</div>
                        <div id="shampoo3_brand" class="portfolio-caption-subheading text-muted">헤드스파7</div>
                    </div>
                </div>
                <!-- Portfolio Item 4-->
                <div id="shampoo4" class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img id="shampoo4_img" class="img-fluid" src="https://dn5hzapyfrpio.cloudfront.net/var/app/current/common/upload/20200514/1589416144764.jpg?w=456" alt="..." />
                    </div>
                    <div class="portfolio-caption">
                        <div id="shampoo4_name" class="portfolio-caption-heading">탈모증상완화 샴푸 [민감더마]</div>
                        <div id="shampoo4_brand" class="portfolio-caption-subheading text-muted">라보에이치</div>
                    </div>
                </div>
                <!-- Portfolio Item 5-->
                <div id="shampoo5" class="col-md-6 col-lg-4 mb-5 mb-md-0">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal5">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img id="shampoo_img5" class="img-fluid" src="https://dn5hzapyfrpio.cloudfront.net/product/914/9144d370-5104-11ee-bfa7-bb8778d0aae6.jpeg?w=456" alt="..." />
                    </div>
                    <div class="portfolio-caption">
                        <div id="shampoo_name5" class="portfolio-caption-heading">스칼프 퓨리파잉 마이크로바이옴 샴푸</div>
                        <div id="shampoo_brand5" class="portfolio-caption-subheading text-muted">원오세븐</div>
                    </div>
                </div>
                <!-- Portfolio Item 6-->
                <div id="shampoo6" class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal6">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img id="shampoo_img6" class="img-fluid" src="https://dn5hzapyfrpio.cloudfront.net/product/5fc/5fc63bc0-772e-11eb-9b1a-6fecb8c36eb5.jpeg?w=456" alt="..." />
                    </div>
                    <div class="portfolio-caption">
                        <div id="shampoo_name6" class="portfolio-caption-heading">애프터올 리바이탈라이징 샴푸</div>
                        <div id="shampoo_brand6" class="portfolio-caption-subheading text-muted">컨텐트리</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Modals-->
    <!-- Portfolio Modal 1-->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" aria-labelledby="portfolioModal1" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">블루밍 카밍 샴푸</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-7">
                                        <!-- Portfolio Modal - Image-->
                                        <img class="img-fluid rounded mb-5" src="https://dn5hzapyfrpio.cloudfront.net/product/c99/c99e66f0-7d71-11eb-bcb2-8dd095f00e51.jpeg?w=456" alt="..." />
                                    </div>
                                    <div class="col-lg-5 m-auto">
                                        <!-- Portfolio Modal - Text-->
                                        <h5 class="mb-4">브랜드 : 베네자임<br><br><br>가격 : 24,000원<br><br><br>제품 설명 : 진정 효과가 뛰어난 아줄렌 성분을 담은 포뮬러로 예민하고 피로해진 두피를 자극없이 부드럽고 깨끗하게 세정해주는 샴푸<br><br><br></h5>
                                    </div>
                                </div>
<div class="chart">
    <div class="row">
        <section>
            <div clas="col-lg-6" id="containers"></div>
        </section>
                                        <script src="https://code.highcharts.com/highcharts.js"></script>
                                        <script src="https://code.highcharts.com/modules/exporting.js"></script>
                                        <script src="https://code.highcharts.com/modules/export-data.js"></script>
                                        <script src="https://code.highcharts.com/modules/accessibility.js"></script>

                                        <link href="{% static '/chart/css/chart.css' %}" rel="stylesheet" />
                                        <script src="{% static '/chart/js/chart.js' %}"></script>
        <section>
            <div clas="col-lg-6" id="containers2"></div>
        </section>
                                        <script src="https://code.highcharts.com/highcharts.js"></script>
                                        <script src="https://code.highcharts.com/modules/exporting.js"></script>
                                        <script src="https://code.highcharts.com/modules/export-data.js"></script>
                                        <script src="https://code.highcharts.com/modules/accessibility.js"></script>

                                        <link href="{% static '/chart/css/chart2.css' %}" rel="stylesheet" />
                                        <script src="{% static '/chart/js/chart2.js' %}"></script>
    </div>
</div>

                                <p><button class="btn btn-primary" data-bs-dismiss="modal">
                                    장바구니
                                </button></p>
                                <button class="btn btn-primary" data-bs-dismiss="modal">
                                    <i class="fas fa-xmark fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 2-->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" aria-labelledby="portfolioModal2" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">쿨 멘솔 샴푸</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-7">
                                        <!-- Portfolio Modal - Image-->
                                        <img class="img-fluid rounded mb-5" src="https://dn5hzapyfrpio.cloudfront.net/product/64f/64fc4e70-7c87-11ee-b66e-1d63f0e1913d.png?w=456" alt="..." />
                                    </div>
                                    <div class="col-lg-5 m-auto">
                                        <!-- Portfolio Modal - Text-->
                                        <h5 class="mb-4">브랜드 : 헤드앤숄더<br><br><br>가격 : 16,900원<br><br><br>제품 설명 : 건강한 모발을 위한 두피 토탈 솔루션 - 샴푸 후 오래 지속되는 시원한 쿨링감 - 두피 속 비듬 깔끔히 세정 - 과학적으로 입증된 기능성 포뮬러<br><br><br></h5>
                                    </div>
                                </div>


<div class="chart">

    <section>
        <div id="containers"></div>
    </section>
                                    <script src="https://code.highcharts.com/highcharts.js"></script>
                                    <script src="https://code.highcharts.com/modules/exporting.js"></script>
                                    <script src="https://code.highcharts.com/modules/export-data.js"></script>
                                    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

                                    <link href="{% static '/chart/css/chart.css' %}" rel="stylesheet" />
                                    <script src="{% static '/chart/js/chart.js' %}"></script>

    <section>
        <div id="containers2"></div>
    </section>

                                    <script src="https://code.highcharts.com/highcharts.js"></script>
                                    <script src="https://code.highcharts.com/modules/exporting.js"></script>
                                    <script src="https://code.highcharts.com/modules/export-data.js"></script>
                                    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

                                    <link href="{% static '/chart/css/chart2.css' %}" rel="stylesheet" />
                                    <script src="{% static '/chart/js/chart2.js' %}"></script>

</div>

                                <p><button class="btn btn-primary" data-bs-dismiss="modal">
                                    장바구니
                                </button></p>
                                <button class="btn btn-primary" data-bs-dismiss="modal">
                                    <i class="fas fa-xmark fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 3-->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" aria-labelledby="portfolioModal3" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">썬트리 샴푸</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-7">
                                        <!-- Portfolio Modal - Image-->
                                        <img class="img-fluid rounded mb-5" src="https://dn5hzapyfrpio.cloudfront.net/product/432/432a4e00-4557-11ec-9d45-77781639a972.jpeg?w=456" alt="..." />
                                    </div>
                                    <div class="col-lg-5 m-auto">
                                        <!-- Portfolio Modal - Text-->
                                        <h5 class="mb-4">브랜드 : 헤드스파7<br><br><br>가격 : 22,000원<br><br><br>제품 설명 : 식약처 고시 탈모 증상 완화에 도움을 주는 성분이 함유된 기능성 샴푸 - 두피와 모발에 과잉된 피지와 유분을 세정하여 스켈프 클렌징 - 편백잎에서 추출한 편백수가 두피를 시원하게<br><br><br></h5>
                                    </div>
                                </div>


<div class="chart">

    <section>
        <div id="containers"></div>
    </section>
                                    <script src="https://code.highcharts.com/highcharts.js"></script>
                                    <script src="https://code.highcharts.com/modules/exporting.js"></script>
                                    <script src="https://code.highcharts.com/modules/export-data.js"></script>
                                    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

                                    <link href="{% static '/chart/css/chart.css' %}" rel="stylesheet" />
                                    <script src="{% static '/chart/js/chart.js' %}"></script>

    <section>
        <div id="containers2"></div>
    </section>

                                    <script src="https://code.highcharts.com/highcharts.js"></script>
                                    <script src="https://code.highcharts.com/modules/exporting.js"></script>
                                    <script src="https://code.highcharts.com/modules/export-data.js"></script>
                                    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

                                    <link href="{% static '/chart/css/chart2.css' %}" rel="stylesheet" />
                                    <script src="{% static '/chart/js/chart2.js' %}"></script>

</div>

                                <p><button class="btn btn-primary" data-bs-dismiss="modal">
                                    장바구니
                                </button></p>
                                <button class="btn btn-primary" data-bs-dismiss="modal">
                                    <i class="fas fa-xmark fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 4-->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" aria-labelledby="portfolioModal4" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">탈모증상완화 샴푸 [민감더마]</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-7">
                                        <!-- Portfolio Modal - Image-->
                                        <img class="img-fluid rounded mb-5" src="https://dn5hzapyfrpio.cloudfront.net/var/app/current/common/upload/20200514/1589416144764.jpg?w=456" alt="..." />
                                    </div>
                                    <div class="col-lg-5 m-auto">
                                        <!-- Portfolio Modal - Text-->
                                        <h5 class="mb-4">브랜드 : 라보에이치<br><br><br>가격 : 24,000원<br><br><br>제품 설명 : 최적의 두피환경을 만들어주는 프로바이오틱스 샴푸 - 피부 장벽을 튼튼하게 해주는 녹차 유산균을 두피에 - 스킨케어하듯 두피를 촉촉하게 도와주는 투명 제형 - 매일 자극 받는 내 두피를 위한 걱정성분 8無 비건인증 샴푸<br><br><br></h5>
                                    </div>
                                </div>


<div class="chart">

    <section>
        <div id="containers"></div>
    </section>
                                    <script src="https://code.highcharts.com/highcharts.js"></script>
                                    <script src="https://code.highcharts.com/modules/exporting.js"></script>
                                    <script src="https://code.highcharts.com/modules/export-data.js"></script>
                                    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

                                    <link href="{% static '/chart/css/chart.css' %}" rel="stylesheet" />
                                    <script src="{% static '/chart/js/chart.js' %}"></script>

    <section>
        <div id="containers2"></div>
    </section>

                                    <script src="https://code.highcharts.com/highcharts.js"></script>
                                    <script src="https://code.highcharts.com/modules/exporting.js"></script>
                                    <script src="https://code.highcharts.com/modules/export-data.js"></script>
                                    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

                                    <link href="{% static '/chart/css/chart2.css' %}" rel="stylesheet" />
                                    <script src="{% static '/chart/js/chart2.js' %}"></script>

</div>

                                <p><button class="btn btn-primary" data-bs-dismiss="modal">
                                    장바구니
                                </button></p>
                                <button class="btn btn-primary" data-bs-dismiss="modal">
                                    <i class="fas fa-xmark fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 5-->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" aria-labelledby="portfolioModal5" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">스칼프 퓨리파잉 마이크로바이옴 샴푸</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-7">
                                        <!-- Portfolio Modal - Image-->
                                        <img class="img-fluid rounded mb-5" src="https://dn5hzapyfrpio.cloudfront.net/product/914/9144d370-5104-11ee-bfa7-bb8778d0aae6.jpeg?w=456" alt="..." />
                                    </div>
                                    <div class="col-lg-5 m-auto">
                                        <!-- Portfolio Modal - Text-->
                                        <h5 class="mb-4">브랜드 : 원오세븐<br><br><br>가격 : 34,000원<br><br><br>제품 설명 : 7년산 천연발효식초가 두피와 모발을 촉촉하게 도와주고, 프리&프로바이오틱스 콤플렉스가 함유되어 건강한 두피 마이크로바이옴에 도움을 주는 약산성 두피 탈모 샴푸<br><br><br></h5>
                                    </div>
                                </div>


<div class="chart">

    <section>
        <div id="containers"></div>
    </section>
                                    <script src="https://code.highcharts.com/highcharts.js"></script>
                                    <script src="https://code.highcharts.com/modules/exporting.js"></script>
                                    <script src="https://code.highcharts.com/modules/export-data.js"></script>
                                    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

                                    <link href="{% static '/chart/css/chart.css' %}" rel="stylesheet" />
                                    <script src="{% static '/chart/js/chart.js' %}"></script>

    <section>
        <div id="containers2"></div>
    </section>

                                    <script src="https://code.highcharts.com/highcharts.js"></script>
                                    <script src="https://code.highcharts.com/modules/exporting.js"></script>
                                    <script src="https://code.highcharts.com/modules/export-data.js"></script>
                                    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

                                    <link href="{% static '/chart/css/chart2.css' %}" rel="stylesheet" />
                                    <script src="{% static '/chart/js/chart2.js' %}"></script>

</div>

                                <p><button class="btn btn-primary" data-bs-dismiss="modal">
                                    장바구니
                                </button></p>
                                <button class="btn btn-primary" data-bs-dismiss="modal">
                                    <i class="fas fa-xmark fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 6-->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" aria-labelledby="portfolioModal6" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">애프터올 리바이탈라이징 샴푸</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-7">
                                        <!-- Portfolio Modal - Image-->
                                        <img class="img-fluid rounded mb-5" src="https://dn5hzapyfrpio.cloudfront.net/product/5fc/5fc63bc0-772e-11eb-9b1a-6fecb8c36eb5.jpeg?w=456" alt="..." />
                                    </div>
                                    <div class="col-lg-5 m-auto">
                                        <!-- Portfolio Modal - Text-->
                                        <h5 class="mb-4">브랜드 : 컨텐트리<br><br><br>가격 : 29,800원<br><br><br>제품 설명 : 식약처 보고 완료 탈모 증상완화 기능성 샴푸<br><br><br></h5>
                                    </div>
                                </div>


<div class="chart">

    <section>
        <div id="containers"></div>
    </section>
                                    <script src="https://code.highcharts.com/highcharts.js"></script>
                                    <script src="https://code.highcharts.com/modules/exporting.js"></script>
                                    <script src="https://code.highcharts.com/modules/export-data.js"></script>
                                    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

                                    <link href="{% static '/chart/css/chart.css' %}" rel="stylesheet" />
                                    <script src="{% static '/chart/js/chart.js' %}"></script>

    <section>
        <div id="containers2"></div>
    </section>

                                    <script src="https://code.highcharts.com/highcharts.js"></script>
                                    <script src="https://code.highcharts.com/modules/exporting.js"></script>
                                    <script src="https://code.highcharts.com/modules/export-data.js"></script>
                                    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

                                    <link href="{% static '/chart/css/chart2.css' %}" rel="stylesheet" />
                                    <script src="{% static '/chart/js/chart2.js' %}"></script>

</div>

                                <p><button class="btn btn-primary" data-bs-dismiss="modal">
                                    장바구니
                                </button></p>
                                <button class="btn btn-primary" data-bs-dismiss="modal">
                                    <i class="fas fa-xmark fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#incenseBtn').click(function() {
                //alert('click') ;
                $('#shampoo1_name').text('스칼프 퓨리파잉 마이크로바이옴 샴푸')
                $('#shampoo1_brand').text('원오세븐')
                $('#shampoo1_img').attr("src","https://dn5hzapyfrpio.cloudfront.net/product/914/9144d370-5104-11ee-bfa7-bb8778d0aae6.jpeg?w=456");

                $('#shampoo2_name').text('모링가 리페어링 샴푸')
                $('#shampoo2_brand').text('바론')
                $('#shampoo2_img').attr("src","https://dn5hzapyfrpio.cloudfront.net/home/glowmee/upload/20190925/1569380758800.jpg?w=456");

                $('#shampoo3_name').text('미셀라 모히또 샴푸')
                $('#shampoo3_brand').text('프레시팝')
                $('#shampoo3_img').attr("src","https://dn5hzapyfrpio.cloudfront.net/product/f8a/f8a69270-48d6-11ec-be2a-cd9c9ec8968a.jpeg?w=456");

                $('#shampoo4').empty()
                $('#shampoo5').empty()
                $('#shampoo6').empty()
            })
            $('#bubbleBtn').click(function() {
                //alert('click') ;
                $('#shampoo1_name').text('스칼프 퓨리파잉 마이크로바이옴 샴푸')
                $('#shampoo1_brand').text('원오세븐')
                $('#shampoo1_img').attr("src","https://dn5hzapyfrpio.cloudfront.net/product/914/9144d370-5104-11ee-bfa7-bb8778d0aae6.jpeg?w=456");

                $('#shampoo2_name').text('애프터올 리바이탈라이징 샴푸')
                $('#shampoo2_brand').text('컨텐트리')
                $('#shampoo2_img').attr("src","https://dn5hzapyfrpio.cloudfront.net/product/5fc/5fc63bc0-772e-11eb-9b1a-6fecb8c36eb5.jpeg?w=456");

                $('#shampoo3_name').text('탈모증상완화 샴푸 [민감더마]')
                $('#shampoo3_brand').text('라보에이치')
                $('#shampoo3_img').attr("src","https://dn5hzapyfrpio.cloudfront.net/var/app/current/common/upload/20200514/1589416144764.jpg?w=456");

                $('#shampoo4').empty()
                $('#shampoo5').empty()
                $('#shampoo6').empty()
            })
            $('#troubleBtn').click(function() {
                //alert('click') ;
                $('#shampoo1_name').text('탈모증상완화 샴푸 [민감더마]')
                $('#shampoo1_brand').text('라보에이치')
                $('#shampoo1_img').attr("src","https://dn5hzapyfrpio.cloudfront.net/var/app/current/common/upload/20200514/1589416144764.jpg?w=456");

                $('#shampoo2_name').text('애프터올 리바이탈라이징 샴푸')
                $('#shampoo2_brand').text('컨텐트리')
                $('#shampoo2_img').attr("src","https://dn5hzapyfrpio.cloudfront.net/product/5fc/5fc63bc0-772e-11eb-9b1a-6fecb8c36eb5.jpeg?w=456");

                $('#shampoo3_name').text('탈모증상완화 샴푸 [두피강화]')
                $('#shampoo3_brand').text('라보에이치')
                $('#shampoo3_img').attr("src","https://dn5hzapyfrpio.cloudfront.net/var/app/current/common/upload/20200316/1584320408251.jpg?w=456");

                $('#shampoo4').empty()
                $('#shampoo5').empty()
                $('#shampoo6').empty()
            })
            $('#cleanBtn').click(function() {
                //alert('click') ;
                $('#shampoo1_name').text('스칼프 퓨리파잉 마이크로바이옴 샴푸')
                $('#shampoo1_brand').text('원오세븐')
                $('#shampoo1_img').attr("src","https://dn5hzapyfrpio.cloudfront.net/product/914/9144d370-5104-11ee-bfa7-bb8778d0aae6.jpeg?w=456");

                $('#shampoo2_name').text('탈모증상완화 샴푸 [민감더마]')
                $('#shampoo2_brand').text('라보에이치')
                $('#shampoo2_img').attr("src","https://dn5hzapyfrpio.cloudfront.net/var/app/current/common/upload/20200316/1584320408251.jpg?w=456");

                $('#shampoo3_name').text('미셀라 모히또 샴푸')
                $('#shampoo3_brand').text('프레시팝')
                 $('#shampoo3_img').attr("src","https://dn5hzapyfrpio.cloudfront.net/product/f8a/f8a69270-48d6-11ec-be2a-cd9c9ec8968a.jpeg?w=456");

                $('#shampoo4').empty()
                $('#shampoo5').empty()
                $('#shampoo6').empty()
            })

        })
    </script>
</body>

{% include 'footer.html' %}